@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');

:root {
    --font-body: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'Courier New', Courier, monospace;

    /* Title bar color */
    --color-theme-1: #dfdfdf;
    /* Window background color */
    --color-theme-2: #ffffff;
    /* Title bar text color */
    --color-theme-3: #676767;
    /* Title bar misc color */
    --color-theme-4: #bbb;
    /* Close button color */
    --color-theme-5: #fefcfc;
    /* Minimize button color */
    --color-theme-6: #ffbd2e;
    /* Maximize button color */
    --color-theme-7: #27c93f;
    /* Close button hover color */
    --color-theme-8: #e0443e;

    --color-bg-1: #5bdbf6;
    --color-text: rgba(0, 0, 0, 0.7);
    font-family: var(--font-body);
    color: var(--color-text);
}

::selection {
    background: var(--color-theme-1);
    color: var(--color-theme-2);
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    font-size: 1.6rem;
    cursor: url('/Cursor_Point.png'), auto;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1,
h2,
p {
    font-weight: 400;
}

p {
    line-height: 1.5;
}

h1 {
    font-size: 2.8rem;
    margin: 0;
}

a {
    color: #4A5699;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    body {
        overflow: auto;
        cursor: auto;
    }
}

@media screen and (min-width: 2560px) and (max-width: 3839px) {
    html {
        font-size: 91.75%;
    }
}

@media screen and (min-width: 3840px) {
    html {
        font-size: 125%;
    }
}
